
.navigation__content, .navigation__list, .navigation__item, .socials__item, .header-meny-button{	
	display: inline-block;
	
}
.navigation__content{
	padding: 10px;
	margin-left: -4px
}
.navigation__list{
	background-color: red;
	width: 100%;
}