$wrappers: header__, header2__, navigation__, path-navigation__, article-content__, info-block__, footer__;


@each $item in $wrappers{
	.#{$item}wrapper{
		@extend %clearfix;
		width: 1100px;
		margin: 0 auto;
	}
}


$footer_padding: 287px;

.wrapper {
	width: 100%;
	position: relative;
	min-width: 1130px;
	min-height: 100%;
}

.maincontent{		
		background-color: #F4F4F4;
		padding-bottom: $footer_padding;
}
.header2__wrapper{
	
}