.header__wrapper:before, .header2__wrapper:before, .navigation__wrapper:before, .path-navigation__wrapper:before, .article-content__wrapper:before, .info-block__wrapper:before, .footer__wrapper:before, .footer-content:before, .catalog-view-list .card_product__block .card_product__block-price-basked:before, .catalog-view-icons .card_product__block .card_product__info .card_product__table-list:before, .catalog-view-icons .card_product__block .card_product__block-price-basked:before, .catalog-view-tabl .card_product__block .card_product__block-price-basked:before, .header__wrapper:after, .header2__wrapper:after, .navigation__wrapper:after, .path-navigation__wrapper:after, .article-content__wrapper:after, .info-block__wrapper:after, .footer__wrapper:after, .footer-content:after, .catalog-view-list .card_product__block .card_product__block-price-basked:after, .catalog-view-icons .card_product__block .card_product__info .card_product__table-list:after, .catalog-view-icons .card_product__block .card_product__block-price-basked:after, .catalog-view-tabl .card_product__block .card_product__block-price-basked:after {
  content: "";
  display: table; }

.header__wrapper:after, .header2__wrapper:after, .navigation__wrapper:after, .path-navigation__wrapper:after, .article-content__wrapper:after, .info-block__wrapper:after, .footer__wrapper:after, .footer-content:after, .catalog-view-list .card_product__block .card_product__block-price-basked:after, .catalog-view-icons .card_product__block .card_product__info .card_product__table-list:after, .catalog-view-icons .card_product__block .card_product__block-price-basked:after, .catalog-view-tabl .card_product__block .card_product__block-price-basked:after {
  clear: both; }

.social-text {
  position: absolute;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  padding: 0; }

/* --------- adjustment --------- */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

* {
  font-family: opensans-regular-webfont, arial, helvetica;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    font-family: opensans-regular-webfont, arial, helvetica;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

@font-face {
  font-family: opensans-bold;
  src: url("../fonts/opensans-bold.eot");
  src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype"), url("../fonts/opensans-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: elektra_light_pro-webfont;
  src: url("../fonts/elektra_light_pro-webfont.eot");
  src: url("../fonts/elektra_light_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_light_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_light_pro-webfont.woff") format("woff"), url("../fonts/elektra_light_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_light_pro-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: elektra_medium_pro_italic-webfont;
  src: url("../fonts/elektra_medium_pro_italic-webfont.eot");
  src: url("../fonts/elektra_medium_pro_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro_italic-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro_italic-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro_italic-webfont.ttf") format("truetype"), url("../fonts/elektra_medium_pro_italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: elektra_medium_pro-webfont;
  src: url("../fonts/elektra_medium_pro-webfont.eot");
  src: url("../fonts/elektra_medium_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_medium_pro-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: font-webfont;
  src: url("../fonts/font-webfont.eot");
  src: url("../fonts/font-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-webfont.woff2") format("woff2"), url("../fonts/font-webfont.woff") format("woff"), url("../fonts/font-webfont.ttf") format("truetype"), url("../fonts/font-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: opensans-regular-webfont;
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: opensans-semibold;
  src: url("../fonts/opensans-semibold.eot");
  src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* --------- responsive --------- */
/* --------- sections --------- */
.header__wrapper {
  width: 1100px;
  margin: 0 auto; }

.header2__wrapper {
  width: 1100px;
  margin: 0 auto; }

.navigation__wrapper {
  width: 1100px;
  margin: 0 auto; }

.path-navigation__wrapper {
  width: 1100px;
  margin: 0 auto; }

.article-content__wrapper {
  width: 1100px;
  margin: 0 auto; }

.info-block__wrapper {
  width: 1100px;
  margin: 0 auto; }

.footer__wrapper {
  width: 1100px;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  position: relative;
  min-width: 1130px;
  min-height: 100%; }

.maincontent {
  background-color: #F4F4F4;
  padding-bottom: 287px; }

.contacts-block {
  float: right; }

.contacts-phone, .contacts-adress {
  display: inline-block; }
  .contacts-phone:before, .contacts-adress:before {
    width: 12px;
    height: 16px;
    content: "";
    float: left; }
  .contacts-phone__content, .contacts-adress__content {
    color: black;
    text-decoration: none; }

.contacts-phone {
  font-size: 19px;
  margin-left: 83px; }
  .contacts-phone:before {
    background-image: url(/img/icons/telephone.png);
    margin: 7px 3px 0 0; }

.contacts-adress {
  font-size: 14px; }
  .contacts-adress:before {
    background-image: url(/img/icons/map-pin.png);
    margin: 4px 10px 0 0; }

.header {
  background-color: #fff;
  border-bottom: 2px solid #ECEEF0; }
  .header-socials__item {
    margin-left: 12px;
    display: inline-block; }
    .header-socials__item:first-child {
      margin-left: 0; }
  .header-socials__link {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 26px;
    width: 26px; }
  .header-socials-block {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0; }
  .header-socials__list {
    padding: 0;
    line-height: 0;
    margin: 0; }
  .header-socials__link_fb {
    background-image: url(/img/socials/header/fb.png); }
  .header-socials__link_fb:hover {
    background-image: url(/img/socials/header/fb-hover.png); }
  .header-socials__link_vk {
    background-image: url(/img/socials/header/vk.png); }
  .header-socials__link_vk:hover {
    background-image: url(/img/socials/header/vk-hover.png); }
  .header-socials__link_tw {
    background-image: url(/img/socials/header/tw.png); }
  .header-socials__link_tw:hover {
    background-image: url(/img/socials/header/tw-hover.png); }
  .header__wrapper, .header2__wrapper {
    padding: 25px 0 21px 0; }
  .header2__wrapper {
    padding: 29px 0 24px 0; }

.header2_logo, .header2_search, .header2-meny-button {
  display: inline-block; }

.header2_logo {
  width: 238px;
  height: 36px; }

.header2_search {
  vertical-align: top;
  margin-left: 52px;
  position: relative; }

.header2-meny__list {
  float: right;
  list-style: none;
  margin: 7px 0 0 0;
  padding: 0; }

.header2-meny-button {
  font-size: 16px;
  margin: 0 0 0 29px; }
  .header2-meny-button:first-child {
    margin: 0; }
  .header2-meny-button__content {
    font-family: opensans-semibold;
    color: black; }
    .header2-meny-button__content:hover {
      color: #FF6E2D; }

.input-search {
  font-size: 14px;
  padding: 8px 17px;
  width: 367px;
  height: 34px;
  border: 1px solid #dee1e4;
  border-radius: 4px; }

.button-search {
  font-family: opensans-semibold;
  font-size: 17px;
  padding: 5px 0;
  position: absolute;
  width: 79px;
  margin: -34px 0px 0 288px;
  height: 34px;
  color: #fff;
  background-color: #FF6E2D;
  border: 0;
  border-radius: 0 4px 4px 0;
  bottom: 0;
  left: 0; }

.navigation__content, .navigation__list, .navigation__item {
  display: inline-block; }

.navigation-header {
  background-color: #fff;
  border-bottom: 2px solid #ECEEF0;
  margin-bottom: 25px; }

.navigation__list {
  font-size: 0; }

.navigation__wrapper .navigation__list {
  margin: 0;
  padding: 0 0 0 13px;
  width: 100%; }
  .navigation__wrapper .navigation__list .navigation__content {
    padding: 14px 9px 15px 9px;
    font-size: 17px;
    text-decoration: none;
    color: black; }
    .navigation__wrapper .navigation__list .navigation__content:hover {
      background-color: #E6E3E4; }
    .navigation__wrapper .navigation__list .navigation__content:active {
      color: #fff;
      background-color: #FF6E2D; }
    .navigation__wrapper .navigation__list .navigation__content-active {
      color: #fff;
      background-color: #FF6E2D; }
      .navigation__wrapper .navigation__list .navigation__content-active:hover {
        background-color: #FF6E2D; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url("../img/pattern-futter.jpg"); }
  .footer__wrapper {
    padding: 34px 0 30px 0; }
  .footer__right {
    width: 50%;
    float: right; }
  .footer__copyright {
    padding: 6px 0 10px 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-top: 1px solid #494949;
    font-family: opensans-regular-webfont; }

.footer-socials__item {
  margin-left: 20px;
  display: inline-block; }
  .footer-socials__item:first-child {
    margin-left: 0; }

.footer-socials__link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  height: 43px;
  width: 43px; }

.footer-socials-block {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0; }

.footer-socials__list {
  padding: 0;
  line-height: 0;
  margin: 0; }

.footer-socials__link_fb {
  background-image: url(/img/socials/footer/fb.png); }

.footer-socials__link_fb:hover {
  background-image: url(/img/socials/footer/fb-hover.png); }

.footer-socials__link_vk {
  background-image: url(/img/socials/footer/vk.png); }

.footer-socials__link_vk:hover {
  background-image: url(/img/socials/footer/vk-hover.png); }

.footer-socials__link_tw {
  background-image: url(/img/socials/footer/tw.png); }

.footer-socials__link_tw:hover {
  background-image: url(/img/socials/footer/tw-hover.png); }

.footer_socials {
  float: right;
  margin-bottom: 33px; }

.footer .navigation_footer {
  text-align: right; }
  .footer .navigation_footer .navigation__list .navigation__content {
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 36px;
    color: #fff; }
    .footer .navigation_footer .navigation__list .navigation__content:hover {
      color: #FF6E2D; }
    .footer .navigation_footer .navigation__list .navigation__content:active {
      color: #fff;
      background-color: #FF6E2D; }

.logo_footer {
  margin-top: 36px;
  display: inline-block; }

.path-navigation__main {
  margin-bottom: 18px; }

.path-navigation-li {
  display: inline-block; }
  .path-navigation-li:before {
    content: '>';
    font-size: 14px;
    color: black;
    margin: 0 1px; }
  .path-navigation-li:first-child:before {
    content: ''; }

.path-navigation__item {
  font-size: 14px;
  color: black;
  text-decoration: none; }
  .path-navigation__item:hover {
    text-decoration: underline;
    color: #FF6E2D; }

.path-navigation__list {
  margin: 0px 0 6px -4px;
  padding: 0;
  display: inline-block; }

.topic {
  font-size: 20px;
  font-family: opensans-bold;
  font-weight: normal;
  font-style: normal; }

.path-navigation__name {
  margin-bottom: 27px; }

.column {
  padding: 0 6px; }
  .column p {
    padding: 0;
    margin: 0 0 20px;
    text-indent: 25px; }
  .column:first-child {
    padding-left: 0; }
  .column:last-child {
    padding-right: 0; }

.sidebar-filter {
  width: 332px;
  float: left;
  font-size: 14px; }

.line-phone-list, .presence-for-shops {
  background-color: #FBFBFB;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 37px; }

.line-phone__item {
  background-color: #FBFBFB;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 27px 14px 27px;
  color: #818181; }
  .line-phone__item:hover {
    background-color: #D7E6EC; }
  .line-phone__item-active {
    background-color: #D7E6EC; }

.accordion {
  border-bottom: 1px solid #DEDEDE; }

.form-topic {
  font-size: 16px;
  padding: 12px 27px 15px 27px;
  color: black;
  margin: 0;
  position: relative;
  font-family: opensans-semibold; }
  .form-topic:after {
    position: absolute;
    right: 11px;
    top: 20px;
    height: 11px;
    width: 18px;
    content: '';
    background-repeat: no-repeat;
    background-position: center center; }
  .form-topic:hover:after {
    background-image: url(/img/icons/strelk_vniz.png); }

.ui-state-active:hover:after {
  background-image: url(/img/icons/strelk_vverh.png); }

.presence-for-shops__item, .checkbox-brand__item, .os-sistem__item {
  margin-bottom: 18px; }
  .presence-for-shops__item:last-child, .checkbox-brand__item:last-child, .os-sistem__item:last-child {
    margin-bottom: 0; }

.presence-for-shops__form, .checkbox-brands__form, .price-range__list, .price-range__form, .colors-block, .os-sistems__list {
  padding: 0 27px 19px 27px; }

.presence-input, .checkbox-brand {
  display: none; }

.presence-for-shops_name {
  position: relative;
  cursor: pointer;
  padding-left: 30px; }
  .presence-for-shops_name:before {
    content: '';
    left: 1px;
    top: 1px;
    position: absolute;
    height: 19px;
    width: 19px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #DDE3E6;
    background-repeat: no-repeat;
    background-position: center center; }
  .presence-for-shops_name:hover:before {
    background-image: url(/img/icons/radio-holder.png); }

.presence-input:checked +
.presence-for-shops_name:before {
  background-image: url(/img/icons/radio-checked.png);
  border: 3px solid #FF6E2D; }

.checkbox-brand_name {
  position: relative;
  padding-left: 30px; }
  .checkbox-brand_name:before {
    content: '';
    left: 1px;
    top: 1px;
    position: absolute;
    height: 19px;
    width: 19px;
    display: inline-block;
    border-radius: 2px;
    background-color: #DDE3E6;
    background-repeat: no-repeat;
    background-position: center center; }
  .checkbox-brand_name:hover:before {
    background-image: url(/img/icons/checkbox-holder.png); }

.checkbox-brand:checked +
.checkbox-brand_name:before {
  background-image: url(/img/icons/checkbox-checked.png);
  background-color: #FF6E2D; }

.price-range__item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 19px; }

.clear-filter {
  border: 0;
  color: #00B3FD;
  padding: 0;
  background-color: #FBFBFB;
  text-decoration: underline; }

.checkbox-brand_name {
  position: relative;
  cursor: pointer; }

.color-block {
  height: 36px;
  width: 36px;
  display: inline-block;
  margin: 5px 12px 12px 5px;
  border: 1px solid #DEDEDE;
  cursor: pointer; }
  .color-block:hover {
    border: 2px solid #FF6E2D; }
  .color-block-active {
    border: 2px solid #FF6E2D; }

.color-white {
  background-color: #fff; }

.color-grey {
  background-color: #CDCDCD; }

.color-black {
  background-color: #000000; }

.color-cyan {
  background-color: #002C54; }

.color-red {
  background-color: #FF1000; }

.color-yellow {
  background-color: #FFF425; }

.color-orange {
  background-color: #FF9244; }

.color-green {
  background-color: #77C479; }

.color-blue {
  background-color: #00A8FF; }

.color-magenta {
  background-color: #A671B2; }

.color-pink {
  background-color: #F679B1; }

.color-brown {
  background-color: #913E13; }

.price-range__left {
  float: right; }

.ui-slider-handle {
  background-color: #333333;
  height: 8px;
  width: 8px;
  top: 8px;
  margin-left: -4px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  outline: none; }
  .ui-slider-handle:before {
    content: '';
    left: 0px;
    top: -12px;
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 8px solid #333333; }
  .ui-slider-handle:hover {
    background-color: #FF6E2D; }
    .ui-slider-handle:hover:before {
      content: '';
      border-bottom: 9px solid #FF6E2D; }

.price-range__input {
  width: 81px;
  margin-left: 13px;
  padding: 4px 8px;
  border: 2px solid #ebedef;
  border-radius: 2px; }

.price-slider__item {
  position: relative;
  height: 3px;
  margin-bottom: 10px;
  background-color: #dee1e4; }

.ui-accordion-header {
  cursor: pointer;
  outline: none; }

.ui-slider-range {
  position: absolute;
  top: 0px;
  height: 3px;
  background-color: #FF6E2D; }

.main-content {
  width: 744px;
  float: right; }

.catalog-view {
  margin-bottom: 66px; }

.sorting-view {
  height: 53px;
  background-color: #E1ECEF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  color: #818181;
  font-size: 14px; }

.sorting-text {
  margin: 13px 6px 18px 20px;
  display: inline-block; }

.sorting-meny {
  padding: 0px 0px 6px 9px;
  margin: 9px 0px 0 0;
  font-size: 14px;
  width: 144px; }

.view-wrapper {
  float: right;
  width: 262px; }

.view-list {
  background-image: url(/img/icons/list.png);
  background-position: center center; }
  .view-list:hover {
    background-image: url(/img/icons/list-hover.png); }

.view-list__active {
  background-image: url(/img/icons/list-hover.png); }

.view-icons {
  background-image: url(/img/icons/icons.png);
  background-position: center center; }
  .view-icons:hover {
    background-image: url(/img/icons/icons-hover.png); }

.view-icons__active {
  background-image: url(/img/icons/icons-hover.png); }

.view-tabl {
  background-image: url(/img/icons/tabl.png);
  background-position: center center; }
  .view-tabl:hover {
    background-image: url(/img/icons/tabl-hover.png); }

.view-tabl__active {
  background-image: url(/img/icons/tabl-hover.png); }

.view__block {
  float: right; }

.view-item {
  cursor: pointer;
  width: 53px;
  height: 53px;
  border-left: 1px solid #dfe0e4;
  background-repeat: no-repeat;
  display: inline-block; }

.view-text {
  margin-top: 15px;
  display: inline-block; }

.card_product__block {
  padding: 19px 22px;
  background-color: #FBFBFB;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 0;
  position: relative; }

.card_product__image-big {
  width: 136px;
  height: 136px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 2px; }
  .card_product__image-big:before {
    content: '';
    vertical-align: middle;
    height: 100%; }
  .card_product__image-big .product__image {
    display: block;
    vertical-align: middle;
    margin: 4px auto; }

.card_product__image-small-list {
  margin: 15px 0 7px 0; }
  .card_product__image-small-list .card_product__image-small {
    cursor: pointer;
    width: 34px;
    height: 34px;
    overflow: hidden;
    vertical-align: top;
    margin: 0 13px 0 0;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 2px; }
    .card_product__image-small-list .card_product__image-small .product__image-item {
      margin: 2px auto;
      height: 29px;
      display: block; }
    .card_product__image-small-list .card_product__image-small:last-child {
      margin: 0 0 0 0; }
    .card_product__image-small-list .card_product__image-small:hover {
      border: 1px solid #FF6E2D; }

.card_product__Availability-block {
  font-size: 13px;
  margin: 5px 0 0 40px;
  font-family: opensans-semibold; }
  .card_product__Availability-block:before {
    margin: 4px 8px 0 0;
    float: left;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #60aa49; }

.card_product__button-basked {
  font-family: opensans-semibold;
  font-size: 14px;
  padding: 7px 15px;
  background-color: #FF6E2D;
  color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 5px; }

.card_product__block:hover {
  box-shadow: 0 0 7px -2px;
  z-index: 1000; }

.catalog-view-list .card_product__block .card_product__image-block, .catalog-view-list .card_product__block .card_product__info, .catalog-view-list .card_product__block .card_product__block-price-basked {
  display: inline-block;
  vertical-align: top; }

.catalog-view-list .card_product__block .card_product__image-block {
  margin-right: 20px; }
  .catalog-view-list .card_product__block .card_product__image-block .card_product__article {
    text-align: center;
    font-family: opensans-semibold; }
    .catalog-view-list .card_product__block .card_product__image-block .card_product__article .card_product__article-name {
      font-size: 12px;
      color: #7f7f7f; }
    .catalog-view-list .card_product__block .card_product__image-block .card_product__article .card_product__article-article {
      padding-left: 5px;
      font-size: 14px;
      color: #333333; }

.catalog-view-list .card_product__block .card_product__info {
  width: 403px;
  min-height: 214px;
  padding-right: 20px;
  border-right: 2px solid #dfe0e4; }
  .catalog-view-list .card_product__block .card_product__info .card_product__topic-tabl {
    display: none; }
  .catalog-view-list .card_product__block .card_product__info .card_product__topic {
    font-size: 17px;
    font-family: opensans-semibold;
    font-weight: normal;
    margin: 4px 0 20px 0; }
  .catalog-view-list .card_product__block .card_product__info .card_product__text {
    font-size: 14px; }
  .catalog-view-list .card_product__block .card_product__info .card_product__table-list {
    display: none; }
  .catalog-view-list .card_product__block .card_product__info .card_product__rating-stars .card_product__rating-star {
    display: inline-block;
    margin: 0 0 0 0px;
    line-height: 0;
    padding: 0;
    background-image: url(/img/icons/rating-star.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    cursor: pointer; }
  .catalog-view-list .card_product__block .card_product__info .card_product__rating-stars .card_product__rating-star-disabled {
    background-image: url(/img/icons/rating-star-disabled.png); }
  .catalog-view-list .card_product__block .card_product__info .card_product__rating-stars .card_product__rating-number {
    display: inline-block;
    font-size: 12px;
    color: #fbfbfb;
    background-color: #b5beca;
    border-radius: 7px;
    padding: 0 9px; }

.catalog-view-list .card_product__block .card_product__block-price-basked .card_product__price-block {
  display: inline-block; }
  .catalog-view-list .card_product__block .card_product__block-price-basked .card_product__price-block .card_product__price {
    display: inline-block;
    margin: 0px 0px 0 28px;
    font-family: opensans-semibold;
    font-size: 20px; }
  .catalog-view-list .card_product__block .card_product__block-price-basked .card_product__price-block:after {
    display: inline;
    margin: 7px 0 0 8px;
    background-image: url(/img/icons/rub.png);
    background-position: center center;
    content: '';
    float: right;
    width: 11px;
    height: 14px; }

.catalog-view-list .card_product__block .card_product__block-price-basked .card_product__basked {
  position: absolute;
  bottom: 19px;
  right: 25px; }
  .catalog-view-list .card_product__block .card_product__block-price-basked .card_product__basked .card_product__button-basked {
    margin: 0 0 0 22px;
    font-family: opensans-semibold;
    font-size: 14px;
    padding: 7px 15px;
    background-color: #FF6E2D;
    color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 5px; }

.catalog-view-icons {
  margin-left: -8px;
  margin-right: -7px; }
  .catalog-view-icons .card_product__block {
    border-radius: 7px;
    margin: 0 7px 15px 8px;
    vertical-align: top;
    display: inline-block;
    width: 235px;
    padding: 19px 10px; }
    .catalog-view-icons .card_product__block .card_product__image-block {
      text-align: center; }
      .catalog-view-icons .card_product__block .card_product__image-block .card_product__image-big {
        display: inline-block;
        margin-bottom: 11px; }
      .catalog-view-icons .card_product__block .card_product__image-block .card_product__image-small-list {
        margin: 0 0 13px; }
      .catalog-view-icons .card_product__block .card_product__image-block .card_product__article {
        display: none; }
    .catalog-view-icons .card_product__block .card_product__info .card_product__topic-tabl {
      display: none; }
    .catalog-view-icons .card_product__block .card_product__info .card_product__topic {
      font-size: 14px;
      font-family: opensans-semibold;
      font-weight: normal;
      text-align: center;
      margin-bottom: 23px; }
    .catalog-view-icons .card_product__block .card_product__info .card_product__text {
      display: none; }
    .catalog-view-icons .card_product__block .card_product__info .card_product__table-list {
      font-size: 14px;
      margin-bottom: 13px;
      font-family: opensans-regular-webfont; }
      .catalog-view-icons .card_product__block .card_product__info .card_product__table-list .card_product__line {
        display: block;
        padding: 0 2px; }
        .catalog-view-icons .card_product__block .card_product__info .card_product__table-list .card_product__line:nth-child(odd) {
          background: #e6e6e6; }
        .catalog-view-icons .card_product__block .card_product__info .card_product__table-list .card_product__line .card_product__item-right {
          float: right; }
    .catalog-view-icons .card_product__block .card_product__info .card_product__rating {
      text-align: center; }
      .catalog-view-icons .card_product__block .card_product__info .card_product__rating .card_product__rating-stars {
        display: inline-block; }
        .catalog-view-icons .card_product__block .card_product__info .card_product__rating .card_product__rating-stars .card_product__rating-star {
          display: inline-block;
          margin: 0 0 0 0px;
          line-height: 0;
          padding: 0;
          background-image: url(/img/icons/rating-star.png);
          background-position: center center;
          background-repeat: no-repeat;
          width: 16px;
          height: 14px;
          cursor: pointer; }
        .catalog-view-icons .card_product__block .card_product__info .card_product__rating .card_product__rating-stars .card_product__rating-star-disabled {
          background-image: url(/img/icons/rating-star-disabled.png); }
        .catalog-view-icons .card_product__block .card_product__info .card_product__rating .card_product__rating-stars .card_product__rating-number {
          display: inline-block;
          font-size: 12px;
          color: #fbfbfb;
          background-color: #b5beca;
          border-radius: 7px;
          padding: 0 9px; }
    .catalog-view-icons .card_product__block .card_product__block-price-basked {
      text-align: center; }
      .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__price-block {
        display: inline-block; }
        .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__price-block .card_product__price {
          display: inline-block;
          font-family: opensans-semibold;
          font-size: 20px; }
        .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__price-block:after {
          display: inline;
          margin: 7px 0 0 8px;
          background-image: url(/img/icons/rub.png);
          background-position: center center;
          content: '';
          float: right;
          width: 11px;
          height: 14px; }
      .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__basked {
        position: relative; }
        .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__basked .card_product__button-basked {
          display: inline-block;
          font-family: opensans-semibold;
          font-size: 14px;
          padding: 7px 15px;
          background-color: #FF6E2D;
          color: #fff;
          border: 1px solid #DEDEDE;
          border-radius: 5px; }
        .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__basked .card_product__Availability-block {
          float: left;
          margin: 8px 13px;
          font-size: 13px;
          display: inline-block;
          font-family: opensans-semibold; }
          .catalog-view-icons .card_product__block .card_product__block-price-basked .card_product__basked .card_product__Availability-block:before {
            margin: 4px 8px 0 0;
            float: left;
            content: '';
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background-color: #60aa49; }

.catalog-view-tabl .card_product__block {
  padding: 7px 16px;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 0;
  position: relative; }
  .catalog-view-tabl .card_product__block .card_product__image-block, .catalog-view-tabl .card_product__block .card_product__info, .catalog-view-tabl .card_product__block .card_product__block-price-basked {
    display: inline-block;
    vertical-align: middle; }
  .catalog-view-tabl .card_product__block .card_product__image-block {
    margin-right: 20px; }
    .catalog-view-tabl .card_product__block .card_product__image-block .card_product__image-big {
      display: none; }
    .catalog-view-tabl .card_product__block .card_product__image-block .card_product__image-small-list {
      display: none; }
    .catalog-view-tabl .card_product__block .card_product__image-block .card_product__article {
      text-align: center;
      padding: 6px 0;
      font-family: opensans-semibold; }
      .catalog-view-tabl .card_product__block .card_product__image-block .card_product__article .card_product__article-name {
        font-size: 12px;
        color: #7f7f7f; }
      .catalog-view-tabl .card_product__block .card_product__image-block .card_product__article .card_product__article-article {
        padding-left: 5px;
        font-size: 14px;
        color: #333333; }
  .catalog-view-tabl .card_product__block .card_product__info {
    float: none; }
    .catalog-view-tabl .card_product__block .card_product__info .card_product__topic-tabl, .catalog-view-tabl .card_product__block .card_product__info .card_product__topic {
      display: inline-block;
      font-size: 14px;
      font-family: opensans-semibold;
      font-weight: normal;
      margin: 0;
      vertical-align: middle; }
    .catalog-view-tabl .card_product__block .card_product__info .card_product__topic {
      width: 205px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .catalog-view-tabl .card_product__block .card_product__info .card_product__text {
      display: none; }
    .catalog-view-tabl .card_product__block .card_product__info .card_product__table-list {
      display: none; }
    .catalog-view-tabl .card_product__block .card_product__info .card_product__rating-stars {
      display: none; }
  .catalog-view-tabl .card_product__block .card_product__block-price-basked {
    float: right; }
    .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__price-block {
      display: inline-block;
      vertical-align: middle; }
      .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__price-block .card_product__price {
        display: inline-block;
        font-family: opensans-semibold;
        font-size: 18px; }
      .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__price-block:after {
        display: inline;
        margin: 7px 0 0 8px;
        background-image: url(/img/icons/rub.png);
        background-position: center center;
        content: '';
        float: right;
        width: 11px;
        height: 14px; }
    .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__basked {
      display: inline-block;
      vertical-align: middle;
      margin-left: 17px; }
      .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__basked .card_product__button-basked {
        font-family: opensans-semibold;
        float: right;
        margin-left: 20px; }
      .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__basked .card_product__Availability-block {
        font-size: 13px;
        padding: 8px 0;
        font-family: opensans-semibold;
        display: inline-block;
        vertical-align: middle;
        margin: 0; }
        .catalog-view-tabl .card_product__block .card_product__block-price-basked .card_product__basked .card_product__Availability-block:before {
          margin: 4px 8px 0 0;
          float: left;
          content: '';
          height: 7px;
          width: 7px;
          border-radius: 50%;
          background-color: #60aa49; }

.pages-nav__block {
  text-align: right; }

.pages-nav__list {
  display: inline-block; }
  .pages-nav__list .pages-nav-item {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    font-size: 12px;
    background-color: #fff;
    color: #7f7f7f;
    cursor: pointer; }
    .pages-nav__list .pages-nav-item:hover {
      background: #e0e0e0; }
  .pages-nav__list .pages-nav-item__active {
    background: #e0e0e0; }

.selection .select2-selection {
  height: 29px;
  box-shadow: inset 0px 3px 3px -2px; }
  .selection .select2-selection .select2-selection__rendered {
    padding: 0 14px; }
  .selection .select2-selection .select2-selection__arrow p {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0; }

.select2-search {
  width: 0;
  height: 0;
  overflow: hidden;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  opacity: 0;
  padding: 0; }

.select2-container--open .select2-dropdown--below {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: 0px 1px 6px -2px; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-radius: 4px; }

.select2-results {
  display: block;
  font-size: 14px; }

.select2-results__option {
  padding: 6px;
  cursor: pointer;
  color: #7f7f7f;
  background-color: #fff;
  font-family: opensans-regular-webfont; }

.select2-results__option--highlighted {
  background-color: #fff;
  color: #7f7f7f;
  font-family: opensans-semibold; }
  .select2-results__option--highlighted:hover {
    background-color: #FF6E2D;
    color: #fff; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fff;
  color: #7f7f7f; }
  .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #FF6E2D;
    color: #fff; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
  color: #7f7f7f; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #FF6E2D;
    color: #fff; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(/img/icons/selection-down.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  height: 9px;
  left: 50%;
  margin-left: -7px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 13px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url(/img/icons/selection-up.png); }

/*# sourceMappingURL=main.css.map */
