extends ../main

block title
	| Главная страница

block content
	.path-navigation
		.path-navigation__wrapper
			.path-navigation__main
				a(href='#glavnay').path-navigation__item Главная
				span.icon-path >
				a(href='#katalog').path-navigation__item Каталог
			.path-navigation__name
				h1.path-navigation__topic Мобильные телефоны
	.article-content
		.article-content__wrapper
			include ../_common/sidebar-filter
			include ../_common/main-content
	.info-block
		.info-block__wrapper
			h2.topik-info Важная информация
			.info-text1
				p.info-text-paragraf
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae minus incidunt maiores quas, fugiat culpa, facere exercitationem sint deserunt debitis ipsam molestias voluptas? Quas dolor, voluptatem incidunt, quod iure odit.
			.info-text2
				p.info-text-paragraf
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae minus incidunt maiores quas, fugiat culpa, facere exercitationem sint deserunt debitis ipsam molestias voluptas? Quas dolor, voluptatem incidunt, quod iure odit.
