footer.footer
	.footer__wrapper
		.footer-content
			.logo_footer
				a(href='#').logo__content
					img(src="./img/logo/cooltech-2.png" alt="Cooltech")
			.footer__right
				.footer_socials
					+socials('footer')
				.navigation_footer
					include ./navigation
	.footer__copyright
		| &copy; All rights reserved. 2015. no copy alowed