.header
	.header__wrapper
		+socials('header')
		.contacts
			.contacts-adress
				a(target="_blank" href='https://maps.yandex.ru/-/CVD6B6~5').contacts-adress__content ул. Маяковская 6, офис 17
			.contacts-phone
				a(href="tel:+79211231213").contacts-phone__content +7 (921) 123-12-13
.header2
	.header2__wrapper
		.header2_logo
			a(href='#').logo__content
				img(src="./img/logo/cooltech.png" alt="Cooltech")
		form.header2_search
			input(type = "text" name = 'input-search' placeholder = 'Что будем искать').input-search
			button(type = "button" name = 'button-search').button-search Найти
		ul.header2-meny__list
			- var socials = {'Карта проезда':'#map', 'История заказов':'#history-buy', 'Корзина':'#basket'}
				each value, key in socials
					li.header2-meny-button
						a(href=value).header2-meny-button__content= key
		
